<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Converse</title>
    <link rel="stylesheet" href="/css/jass.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
</head>
<header> 
    <div class="logo-container">
        <img class="cc-logo" src="images/CodeConverse-logo.png" alt="">
        <h4 class="cc-text" >Code Converse</h3>
    </div>
            <nav>
            <ul>
                <li><a class="nav-link" href="/">Home</a></li>
                <li><a class="nav-link" href="/dashboard">Dashboard</a></li>
            </ul>
        </nav>
        {{#if loggedIn}}
        <div class="header-login">
            <h5 class="logged-in">Logged In As: {{name}}</h2>
            <form action="/api/users/logout" method="POST">
                    <button class="logout" id="logout" >Log Out</button>
            </form>
        </div>  
        {{else}}
        <div class="header-login">
                <a href="/login">
                    <button class="login">Log In</button>
                </a>
                <a href="/signup">
                    <button class="signup">Sign Up</button>
                </a>
        </div>
        {{/if}}
    </header>
    <div class="decorative-line"></div>

<main>
    {{{body}}}
</main>
    <div class="decorative-line"></div>
        <footer>
    <div class="footer-container">
        <div class="useful-fields">
            <ul>
                <li><a class="nav-link" href="#">About Us</a></li>
                <li><a class="nav-link" href="#">Contact Us</a></li>
                <li><a class="nav-link" href="#">Terms of Service</a></li>
                <li><a class="nav-link" href="#">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</footer>