  <div class="login-container">
<form class="form signup-form" action="/api/users/signup" method="POST">
      <h2>Signup</h2>
      <div class="form-group">
        <label for="name-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" name="name" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" name="email"/>
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" name="password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>
</div>