<div class="post-container">
    <div class="post-focus">
        <div class="post-header">
            <h2>Post Details</h2>
        </div>
        <div class="post-heading-line"></div>
        <form action="/posts" method="POST" class="post-form" id="update-form" data-id="{{post.id}}">
            <div id="input-fields">
                <input type="text" name="title" id="title" placeholder="Title" value="{{post.title}}">
                <textarea name="content" id="content" placeholder="Content">{{post.content}}</textarea>
            </div>
            <div id="comment-button-container">
                <button id="post-form-button" type="submit">Update</button>
                <button id="delete-button" >Delete</button>
            </div>
        </form>
    </div>
</div>